---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404 | Página no encontrada">

<section class="min-h-screen flex flex-col items-center justify-center text-center px-6">

  <h1 class="text-7xl font-bold text-blue-600 mb-6">404</h1>

  <p class="text-gray-600 mb-8">
    La página que buscas no existe o fue movida.
  </p>

  <a
    href="/"
    class="px-6 py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700"
  >
    Volver al inicio
  </a>

</section>
</MainLayout>
